.App {
   margin: 5em auto;
  color: rgb(53, 33, 8);
  font-family: "Gill Sans", sans-serif; 
}

.quote-wrapper {
  max-width: 80rem;
  height: 250px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  padding: 25px;
}

button {
  font-size: medium;
  background-color: rgb(53, 33, 8);
  color: white;
  border: none;
  border-radius: 3px;
  float: right;
  margin: 60px 0;
  padding: 10px 40px;
}


